.todo-list {
  padding: 8px 24px;
  border: 1px solid rgb(69, 47, 47);
  width: 350px;
  font-size: 30px;
  background-image: url(images/pattern.jpg);
  background-size: cover;
  color: #d6e2f0;
}

.my-list {
  background-color: rgba(112, 76, 92, 0.632);
  padding: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(205, 160, 160, 0.553);
}

h1,
p {
  text-align: center;
  text-shadow: 7px 1px 9px;
}

ol {
  margin: 12px;
}
